img {
  max-width: 100%;
}

.logo {
  width: 42px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-title {
  display: inline-flex;
  align-items: center;
  width: 100%
}
